*{
	margin: 0;
	padding: 0;

}
.sidebar{
	background-color: rgb(223, 218,218);
	width: 434px;
	height: 100vh;
}
.sidebar nav{
	padding: 25px 13px;
}
.sidebar nav li{
	list-style: none;
	font-size: 30px;
	padding: 33px 0px;
}
.sidebar nav li a{
	
	text-decoration: none;
	color: black;
}
.main{
	width: 90vw;
	/*background-color: yellow;*/
}
.container{
	display: flex;
}
.infoContanier{
	height: 70vh;
	width: 80vw;
	margin: 144px auto;
	display: flex;
	/*background-color: green;*/
	justify-content: space-around;
}
.devinfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.hello{
	font-size: 55px;

}
.name{
	font-size: 50px;
	font-weight: bold;
	font-family: sans-serif;
}
.about{
	font-size: 40px;
}
.moreabout{
	font-size: 22px;
	margin-top: 23px;
}
.buttons{
	margin-top:34px;
}
.buttons button{
    padding: 9px 14px;
    cursor: pointer;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 23px;
    margin: 0 3px;
}
.devpic{
	/*margin-top: 30px;*/
	padding: 40px;
	/*height: 70vh;*/
}
.contactform{
	padding: 144px 34px;
	/*padding: 0 34px;*/
	font-family: monospace;
}
.contactform h1{
    /*text-align: center;*/
    padding: 12px 0;
}
.contactform form div{
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}
.contactform form div input{
   width:26vw;
   border-radius: 5px;
   margin: 6px 0 0 0 0;
   padding: 3px;
}
#emailHelp{
	font-size: 11px;
	padding: 3px 0 0 0;
	color: midnightblue;
	margin: 0 5px;
}
#form-check{
	flex-direction: row;
}
#form-check input{
	width: 24px;
	margin: 3px 0;
}
.btn{
	padding:5px 17px;
    cursor: pointer;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 16px;
    margin: 0 3px;
}
.blogitem{
	margin: 20px;
	font-family: sans-serif;
}
.blogcontanier h1{
    font-family: sans-serif;
    margin: 23px;
}
.blogitem p{
font-family: source code pro;
}